<p>This page is inside the magento admin but it is made to look like it isn't. Magento admin elements have been hidden.</p>
<p>From here you can go to any admin page without having to login, like the <a href="<?php echo $block->getCatalogAdminUrl() ?>">catalog page</a></p>