<div class="teletec-login-form-container">
    <h1>Login To Teletec</h1>

    <form name="teletec_login_form" id="teletec_login_form" action="<?php echo $block->getFormAction() ?>" method="post">
        <input type="hidden" name="form_key" value="<?php echo $block->getFormKey() ?>" />
        <label for="username">Username</label>
        <input name="username" type="text">
        <br><br><br>
        <label for="password">Password</label>
        <input name="password" type="password">
        <br><br><br>
        <input type="submit" value="Login">
    </form>
</div>